<ul class="nav nav-sidebar nav-stacked">
  {% for item in site.data.navigation %}
    {% capture active %}
      {% if item.exact and page.url == item.path %}
        active
      {% else %}
        {% for cat in page.categories %}
          {% if cat == item.category %}
            active
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endcapture %}
    <li class="{{ active }}">
      <a href="{{ item.path }}">
        <span class="no-wrap">
          {{ item.name }}</span></a>
      {% if item.path == '/contribute/' and page.url == item.path %}
        <ul class="nav">
          {% for section in item.sections %}
            <li>
              <a href="#{{ section.slug }}">
                {{ section.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>