<ul class="nav nav-sidebar nav-stacked">
  {% for item in site.data.navigation %}
    {% capture active %}{% if page.url == item.path %}active{% elsif page.categories contains item.category %}active{% endif %}{% endcapture %}
    <li class="{{ active }}">
      <a href="{{ item.path }}">
        <span class="no-wrap">
          {{ item.name }}</span></a>
      {% if item.path == '/articles/' and active == 'active' %}
        <ul class="nav">
          {% for topic in site.data.topics %}
            {% if site.tags[topic.slug] %}
              {% capture active_topic %}{% if page.tags contains topic.slug %}active{% endif %}{% endcapture %}
              <li class="{{ active_topic }}">
                <a href="/articles/#{{ topic.slug }}">
                  {{ topic.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
      {% if item.path == '/contribute/' and active == 'active' %}
        <ul class="nav">
          {% for section in item.sections %}
            <li>
              <a href="#{{ section.slug }}">
                {{ section.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>