<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=430, maximum-scale=1" />
    <meta name="author" content="James Arthur (thruflo@gmail.com)" />
    <title>OpenMaking.is &ndash; {{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
      <meta property="og:description" content="{{ page.description }}" />
      <meta name="twitter:description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ page.excerpt }}" />
      <meta property="og:description" content="{{ page.excerpt }}" />
      <meta name="twitter:description" content="{{ page.excerpt }}" />
    {% endif %}
    <meta property="og:image" content="/gfx/open_making_slide.png" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta name="twitter:image" content="/gfx/open_making_slide.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@open_making" />
    <meta name="twitter:url" content="{{ site.url }}" />
    <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <a href="https://github.com/opendesk/openmaking.is">
      <img src="/gfx/fork_me_ribbon.png" alt="Fork me on GitHub"
          class="github-ribbon"
      />
    </a>
    {{ content }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
    <!--script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
    </script-->
    <script src="/script.js"></script>
  </body>
</html>