---
layout: base
---

<section id="home" class="centered white">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="statement">
          <div class="statement-thin">
            A field guide to
          </div>
          <div class="statement-thick">
            Open Making
          </div>
          <div class="img-container making-bar">
            <img src="/gfx/open_making_bar.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro" class="centered grey">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
        <div class="intro-text">
          {{ content }}
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-10">
        <ul class="nav nav-pills nav-justified">
          {% for item in site.data.navigation %}
            {% if item.path != '/' %}
              <li>
                <a href="{{ item.path }}">
                  <span class="no-wrap">
                    {{ item.name }}</span></a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="recent">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <div class="page-content">
          <div class="listing-header clearfix">
            <div class="pull-right">
              <div class="fake-tw-btn-container pull-right">
                <div class="fake-tw-btn">
                  <a href="/feed.xml" title="Subscribe via RSS"
                      class="btn fake-tw-btn-inner">
                    <img src="/gfx/rss-icon.png" class="fake-tw-btn-icon" />
                    <div class="fake-tw-btn-text hidden-xxs">
                      <span class="hidden-xs">
                        Subscribe via RSS</span>
                      <span class="visible-xs">
                        Subscribe</span></div></a>
                </div>
              </div>
              <div class="fake-tw-btn-container pull-right">
                <div class="fake-tw-btn">
                  <a href="https://twitter.com/intent/user?screen_name=open_making"
                      title="Follow @open_making"
                      class="btn fake-tw-btn-inner">
                    <img src="/gfx/twitter-icon.png" class="fake-tw-btn-icon"
                    /><div class="fake-tw-btn-text hidden-xxs">
                      <span class="hidden-xs">
                        Follow @open_making</span>
                      <span class="visible-xs">
                        Follow</span></div></a>
                </div>
              </div>
            </div>
            <h2 class="first-heading">
              Recent Posts
            </h2>
            <hr />
          </div>
          {% for post in site.posts %}
            {% include post.partial.html %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <hr />
        {% include footer.partial.html %}
      </div>
    </div>
  </div>
</footer>