---
layout: main
---

{% if page.thumbnail %}
  <a href="{{ page.website }}" class="no-visual">
    <figure>
      <img src="{{ page.thumbnail }}" />
    </figure>
  </a>
{% endif %}

<h2 class="{% if page.thumbnail %}{% else %}first-heading{% endif %}">
  <a href="/projects/" class="no-visual">
    <span class="glyphicon glyphicon-link"></span></a>
  <a href="{{ page.website }}" class="no-visual">
    {{ page.title }} &mdash; {{ page.website }}</a>
</h2>

<p>
  {{ page.description }}
</p>

{{ content }}

{% assign post = page %}
{% include metadata.partial.html %}